---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Thumbnail from '../../components/Thumbnail.astro'
---

<DefaultLayout title="Home">
  <section class="my-16">
    <div class="container">
      <div class="container">
        <div class="call-to-action mb-8 mt-8 flex flex-col items-center rounded-lg">
          <a href="/fr/oeuvres/1" class="call-to-action-link rounded-lg p-4 text-center text-lg md:p-6">
            Début de la visite</a
          >
        </div>
      </div>

      <style lang="scss">
        .call-to-action {
          /* Remove background styling here */
        }

        .call-to-action-link {
          padding: 1rem; /* Adjust padding as needed */
          color: var(--neutral-900);
          font-weight: bold;
          border: 5px solid var(--secondary-300); /* Increase border thickness here */
          border-radius: 3px;
          text-decoration: none;
          width: 400px;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

          &:hover,
          &:focus {
            color: var(--neutral-100);
            background-color: var(--neutral-900);
            text-decoration: underline;
          }
        }
      </style>

      <h2 class="mb-16 text-6xl"></h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/2">
              <img
                src="/assets/img/la-fin-des-paillassons/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/3">
              <img
                src="/assets/img/la-peur-de-la-mere-patrie/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/4">
              <img
                src="/assets/img/scenes-du-declic/2.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/5">
              <img
                src="/assets/img/communaute-balletomane-par-limage/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/6">
              <img
                src="/assets/img/videos-de-youtubers/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/7">
              <img src="/assets/img/pong/1.jpg" alt="Description of the image" class="h-full w-full object-cover" />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/8">
              <img
                src="/assets/img/les-plateformes-a-domicile/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/9">
              <img
                src="/assets/img/la-telecommande/2.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/10">
              <img
                src="/assets/img/lespace-de-visionnement-comme-espace-intime/10.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/11">
              <img
                src="/assets/img/mi-papa-y-el-hombre-del-paquete/11.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/12">
              <img
                src="/assets/img/art-statement-feminist-sonographies-of-situated-listening/1.jpg"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
        <Thumbnail icon="mdi:tailwind" title="">
          <div class="aspect-square">
            <a href="/fr/oeuvres/13">
              <img
                src="/assets/img/obsolescence/1.png"
                alt="Description of the image"
                class="h-full w-full object-cover"
              />
            </a>
          </div>
        </Thumbnail>
      </div>
    </div>
  </section>
  <!--
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
   -->
</DefaultLayout>
