---
import { Icon } from 'astro-icon/components'

const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-3">
      <div class="flex flex-col items-center gap-4 md:items-center lg:col-span-1">
        <h1 class="flex flex-col items-center text-center text-6xl md:text-left lg:text-8xl">
          <span class="block leading-tight">Espace des plateformes</span>
        </h1>
        <a class="button LanguageButton has-icon" href="/start">
          <Icon name="ion:md-arrow-dropright" />
          Français
        </a>
      </div>
      <div class="flex w-full items-center justify-center lg:col-span-1 lg:w-auto">
        <div class="separator h-0.25 w-full bg-current lg:h-32 lg:w-0.5"></div>
      </div>
      <div class="flex flex-col items-center gap-4 md:items-center lg:col-span-1">
        <h1 class="flex flex-col items-center text-center text-6xl md:text-left lg:text-8xl">
          <span class="block leading-tight">Space of platforms</span>
        </h1>
        <a
          class="button LanguageButton has-icon color-secondary"
          href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
        >
          <Icon name="ion:md-arrow-dropright" />
          English
        </a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .separator {
    display: inline-block;
    transform: scaleY(2.5); /* Scale the slash vertically */
  }
</style>
